*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Barra de rolagem */
body::-webkit-scrollbar{
    width: 5px; 
}
body::-webkit-scrollbar-track{
    background-color: rgb(44, 44, 44);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(184, 184, 184);
    border-radius: 20px;
}
body{
    background-color: rgba(255, 184, 246, 0.678);
}
/* barra de navegar */
.cabecalho{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 90%;
    max-width: 125%;
    z-index: 10;
  
}
/* Menu */
.cabecalhoMenu{
    display: flex;
    align-items: center;
    gap: 280px;
    
}
.cabecalhoMenu ul{
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 2px;
    
}
.cabecalhoMenu ul li a{
    display: block;
    position: relative;
    color: aliceblue;
    background-color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    

}
.cabecalhoMenu ul li a:hover {
    color: rgb(255, 196, 0);
     
}

.cabecalhoMenuBotao{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: solid 1.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 10px;
    border-color:aliceblue;
    border-radius: 40px;
    font-size: 15px;
}
a.cabecalhoMenuBotao:hover,a.cabecalhoMenuBotao:active{
    border-color: rgb(255, 196, 0);
    transition: all 0.3s ease-in-out;
}
.tudo{
    margin-top: 10%;
    text-align: center;
    
}
.login{
    border: solid white 2px;
    border-radius: 50px;
    padding-top: 5%;
    padding-block-end: 4%;
    width: 20%;
    margin-left: 40%;
    background-color: white; 
    text-align: center;
    box-shadow: 0px 7px 7px rgb(134, 134, 134);
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
   
}
.boxs{
    margin-top: 10%;
    border: solid;
    border-color:  transparent;
    background-color:  rgba(255, 184, 246, 0.678);
    box-shadow: 5px 5px 5px rgb(236, 236, 236);
    border-radius: 50px;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
}
.logar{
    margin-top: 15%;
    border: solid;
    border-color:  transparent;
    background-color:  rgba(255, 184, 246, 0.678);
    box-shadow: 5px 5px 5px rgb(236, 236, 236);
    border-radius: 50px;
    padding: 5%;
    
}
.logar:hover{
    background-color: rgba(247, 151, 234, 0.678);;
}
