*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Barra de rolagem */
body::-webkit-scrollbar{
    width: 5px; 
}
body::-webkit-scrollbar-track{
    background-color: rgb(44, 44, 44);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(184, 184, 184);
    border-radius: 20px;
}
/* barra de navegar */
.cabecalho{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 90%;
    max-width: 125%;
    z-index: 10;
  
}
/* Menu */
.cabecalhoMenu{
    display: flex;
    align-items: center;
    gap: 280px;
    
}
.cabecalhoMenu ul{
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 2px;
    
}
.cabecalhoMenu ul li a{
    display: block;
    position: relative;
    color: aliceblue;
    background-color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    

}
.cabecalhoMenu ul li a:hover {
    color: rgb(255, 196, 0);
    
    
    
}
/* sub menu */
.cabecalhoMenu ul ul {
    display: none;
    position: absolute;
 
}
.cabecalhoMenu ul li:hover ul {
    display: block;
 
}

.cabecalhoMenu ul ul {
    width: 100px;
    
 
}
.cabecalhoMenu ul ul li a{
    display: block;
    padding-top: 10px;

 
}

.cabecalhoMenuItem{
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;

}
a.cabecalhoMenuItem:hover,a.cabecalhoMenuItem:active{
    color: rgb(255, 196, 0);
}
.cabecalhoMenuBotao{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: solid 1.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 10px;
    border-color:aliceblue;
    border-radius: 40px;
    font-size: 15px;
}
a.cabecalhoMenuBotao:hover,a.cabecalhoMenuBotao:active{
    border-color: rgb(255, 196, 0);
    transition: all 0.3s ease-in-out;
}






/* footer */

.rodaPe{
    background-color: black;
}
.conteudoRodaPe{
    padding: 7%;
    padding-left:15%;
    padding-right: 15%;
}
.itemsRodaPe{
    border-block-end: 2px solid white;
}
.opcaoRodaPe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 10%;
}
.tituloItems{
    list-style: none;
    color: white;
    font-family: 'Bevan', cursive;
    font-weight: 1;
    font-size: 15px;
}
.boxFooter{
    margin-top: 11%;
    padding-left:5% ;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    border-color: white;
    margin-block-end: 15%;
    padding-right: 10%;
    padding-top: 5%;
}
.enviarFooter{
    border: 0;
    border-radius: 40px;
    padding-right: 100px ;
    padding-left: 90px ;
    padding-top: 15px ;
    padding-block-end: 15px ;
    background-color: rgb(119, 81, 235);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.enviarFooter:hover{
    color: black;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.direitos{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    color: white;
}