body{
    background-image: url("index.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.box{
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    display: inline;
    
}
a{
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 184, 246, 0.678);
    border-radius: 15px;
    background-color: rgba(250, 112, 232, 0.678);
    padding: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
    
}